.root {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
}

.heading {
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 60px;
    margin-top: 0px;
  }
}

.content {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: center;

  width: 100%;
  max-width: 400px;

  box-sizing: content-box;

  padding: 15px;
}
