.container {
  width: 100%;
}

.form {
  display: flex;
  flex-flow: column;
  gap: 10px;

  width: 100%;
}

.row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.hintContainer {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0;
}

.hintMsg {
  color: #ee6c4d;
  font-weight: 600;
}
